<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap systemai uap18 com desktop">

  <Identity
    Name="7E3037EB.105291C4FA142"
    Publisher="CN=903CF430-4F60-456C-BD6B-BBB21C21420D"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1ed8ac62-25fc-4d95-b50a-3812e36471c0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>超级蓝牙音箱</DisplayName>
    <PublisherDisplayName>顾留中</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
	  <!-- 音频、音乐相关关键词，辅助系统识别归类 -->
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap3:VisualElements
        DisplayName="超级蓝牙音箱"
        Description="蓝牙音频控制工具，连接蓝牙音箱播放音乐、调节音效"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
		VisualGroup="音频音乐工具">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap3:VisualElements>
		<Extensions>
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation
					ToastActivatorCLSID="3592748A-150F-44FD-BE41-5F820EC53D16" />
			</desktop:Extension>
			<!--Register COM CLSID LocalServer32 registry key-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="SuperAudio.exe" Arguments="----AppNotificationActivated:" DisplayName="App notification activator">
						<com:Class Id="3592748A-150F-44FD-BE41-5F820EC53D16" DisplayName="App notification activator"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels"/>
    <DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>
